---
import Layout from '@/layouts/Layout.astro';

import { SendAssignments } from '@/components/SendAssignments.jsx'
---

<Layout title="Enviar avisos">
	<main class="grid grid-cols-1 md:grid-cols-3 h-full">
        <SendAssignments client:load/>
	</main>
</Layout>